# Node.js specific
node_modules/
npm-debug.log*

# Tests
coverage

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.local
.env.test
.env.production

# parcel-bundler cache (https://parceljs.org/)
.cache

# lock files
package-lock.json

# Compiled binary
build

# Dependency directories
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Mac system files
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
